<a href="https://colab.research.google.com/github/Mhmdaris15/Covid-19-in-Indonesia/blob/main/COVID_19_Indonesia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, f1_score, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.preprocessing import add_dummy_feature, MinMaxScaler, OneHotEncoder, StandardScaler, RobustScaler, Normalizer

In [2]:
from google.colab import files
files.upload()

!pip install kaggle

!mkdir ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d hendratno/covid19-indonesia

!unzip /content/covid19-indonesia.zip

Saving kaggle.json to kaggle.json
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Downloading covid19-indonesia.zip to /content
  0% 0.00/489k [00:00<?, ?B/s]
100% 489k/489k [00:00<00:00, 31.4MB/s]
Archive:  /content/covid19-indonesia.zip
  inflating: covid_19_indonesia_time_series_all.csv

In [3]:
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')
df

            Date  ... Growth Factor of New Deaths
0       3/1/2020  ...                         NaN
1       3/2/2020  ...                        1.00
2       3/2/2020  ...                         NaN
3       3/2/2020  ...                         NaN
4       3/2/2020  ...                         NaN
...          ...  ...                         ...
13009  3/28/2021  ...                        0.00
13010  3/28/2021  ...                        1.00
13011  3/28/2021  ...                        2.00
13012  3/28/2021  ...                        1.50
13013  3/28/2021  ...                        0.67

[13014 rows x 37 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13014 entries, 0 to 13013
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         13014 non-null  object
 1   Location ISO Code            13014 non-null  object
 2   Location                     13014 non-null  object
 3   New Cases                    13014 non-null  int64
 4   New Deaths                   13014 non-null  int64
 5   New Recovered                13014 non-null  int64
 6   New Active Cases             13014 non-null  int64
 7   Total Cases                  13014 non-null  int64
 8   Total Deaths                 13014 non-null  int64
 9   Total Recovered              13014 non-null  int64
 10  Total Active Cases           13014 non-null  int64
 11  Location Level               13014 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     12622 non-null  object
 14  Country                      13014 non-null  object
 15  Continent                    13014 non-null  object
 16  Island                       12622 non-null  object
 17  Time Zone                    12622 non-null  object
 18  Special Status               1878 non-null   object
 19  Total Regencies              13014 non-null  int64
 20  Total Cities                 12648 non-null  float64
 21  Total Districts              13014 non-null  int64
 22  Total Urban Villages         12646 non-null  float64
 23  Total Rural Villages         12621 non-null  float64
 24  Area (km2)                   13014 non-null  int64
 25  Population                   13014 non-null  int64
 26  Population Density           13014 non-null  float64
 27  Longitude                    13014 non-null  float64
 28  Latitude                     13014 non-null  float64
 29  New Cases per Million        13014 non-null  float64
 30  Total Cases per Million      13014 non-null  float64
 31  New Deaths per Million       13014 non-null  float64
 32  Total Deaths per Million     13014 non-null  float64
 33  Case Fatality Rate           13014 non-null  object
 34  Case Recovered Rate          13014 non-null  object
 35  Growth Factor of New Cases   12071 non-null  float64
 36  Growth Factor of New Deaths  11367 non-null  float64
dtypes: float64(13), int64(12), object(12)
memory usage: 3.7+ MB

In [5]:
df.isna().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                13014
Province                         392
Country                            0
Continent                          0
Island                           392
Time Zone                        392
Special Status                 11136
Total Regencies                    0
Total Cities                     366
Total Districts                    0
Total Urban Villages             368
Total Rural Villages             393
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases       943
Growth Factor of New Deaths     1647
dtype: int64

---
Dari dataset tersebut banyak NaN Value yang muncul, yaitu pada column : <br>
* `City or Agency`
* `Province`
* `Island`
* `Time Zone`
* `Special Status`
* `Total Cities`
* `Total Urban Villages`
* `Total Rural Villages`
* `Growth Factor of New Cases`
* `Growth Factor of New Deaths`

In [6]:
print(df[df['Total Cities'].isna()].Location.unique())
print(df[df['Island'].isna()].Location.unique())
print(df[df['Time Zone'].isna()].Location.unique())
print(df[df['Total Urban Villages'].isna()].Location.unique())
print(df[df['Total Rural Villages'].isna()].Location.unique())

['Sulawesi Barat']
['Indonesia']
['Indonesia']
['Aceh']
['DKI Jakarta']

In [20]:
df_cleaned = df.drop(columns=['City or Regency'])
df_cleaned['Special Status'].fillna('General', inplace=True)
df_cleaned['Island'].fillna('Unknown', inplace=True)
df_cleaned['Province'].fillna('Unknown', inplace=True)
df_cleaned['Time Zone'].fillna('Indonesia Time Zone', inplace=True)
df_cleaned['Total Cities'].fillna(0, inplace=True)
df_cleaned['Total Urban Villages'].fillna(0, inplace=True)
df_cleaned['Total Rural Villages'].fillna(0, inplace=True)

In [22]:
df_cleaned.isna().sum()

Date                              0
Location ISO Code                 0
Location                          0
New Cases                         0
New Deaths                        0
New Recovered                     0
New Active Cases                  0
Total Cases                       0
Total Deaths                      0
Total Recovered                   0
Total Active Cases                0
Location Level                    0
Province                          0
Country                           0
Continent                         0
Island                            0
Time Zone                         0
Special Status                    0
Total Regencies                   0
Total Cities                      0
Total Districts                   0
Total Urban Villages              0
Total Rural Villages              0
Area (km2)                        0
Population                        0
Population Density                0
Longitude                         0
Latitude                          0
New Cases per Million             0
Total Cases per Million           0
New Deaths per Million            0
Total Deaths per Million          0
Case Fatality Rate                0
Case Recovered Rate               0
Growth Factor of New Cases      943
Growth Factor of New Deaths    1647
dtype: int64

In [42]:
df_cleaned[df_cleaned['Growth Factor of New Cases'].isna()].Location.nunique()

35

In [45]:
df_cleaned.Location.nunique()

35

In [63]:
nan_idx_last = np.where(df['Growth Factor of New Cases'].isna())[0][:5]
df_cleaned.iloc[nan_idx_last,:]

        Date  ... Growth Factor of New Deaths
0   3/1/2020  ...                         NaN
2   3/2/2020  ...                         NaN
3   3/2/2020  ...                         NaN
4   3/2/2020  ...                         NaN
17  3/6/2020  ...                         NaN

[5 rows x 36 columns]

In [69]:
print(df_cleaned[df['Location'] == 'DKI Jakarta'].iloc[:,-2].mean())
print(df_cleaned[df['Location'] == 'Riau'].iloc[:,-2].mean())
print(df_cleaned[df['Location'] == 'Banten'].iloc[:,-2].mean())

1.0639432989690722
1.153497267759562
1.6521866666666656

In [81]:
avg1 = df_cleaned.loc[df_cleaned.Location == 'DKI Jakarta', 'Growth Factor of New Cases'].mean()
df_cleaned.loc[df_cleaned.Location == 'DKI Jakarta','Growth Factor of New Cases'].fillna(avg1, inplace=True)

In [82]:
df_cleaned[df_cleaned.Location == 'DKI Jakarta']

            Date  ... Growth Factor of New Deaths
0       3/1/2020  ...                         NaN
1       3/2/2020  ...                        1.00
5       3/3/2020  ...                        1.00
9       3/4/2020  ...                        1.00
13      3/5/2020  ...                         NaN
...          ...  ...                         ...
12843  3/24/2021  ...                        1.00
12878  3/25/2021  ...                        1.09
12913  3/26/2021  ...                        0.92
12948  3/27/2021  ...                        1.64
12983  3/28/2021  ...                        1.28

[393 rows x 36 columns]

In [70]:
for locate in df_cleaned.Location:
  avg1 = df_cleaned.loc[df_cleaned.Location == locate, 'Growth Factor of New Cases'].mean()
  avg2 = df_cleaned.loc[df_cleaned.Location == locate, 'Growth Factor of New Deaths'].mean()
  df_cleaned.loc[df_cleaned.Location == locate,'Growth Factor of New Cases'].fillna(avg1, inplace=True)
  df_cleaned.loc[df_cleaned.Location == locate,'Growth Factor of New Deaths'].fillna(avg2, inplace=True)

In [78]:
df_cleaned.head()

       Date  ... Growth Factor of New Deaths
0  3/1/2020  ...                         NaN
1  3/2/2020  ...                         1.0
2  3/2/2020  ...                         NaN
3  3/2/2020  ...                         NaN
4  3/2/2020  ...                         NaN

[5 rows x 36 columns]

[link text](https://)